.jumbotron{
  background-image: url(./images/busridebytheseaside.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20vw;
  padding-bottom: 20vw;
  }
  
  .shadow {
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 100%);
    border-radius: 5px;
    max-width: 60%;
  }
  
  section {
    padding-top: 50px;
  }
  
  .contact-icon {
    font-size: 10em;
    color: #000000;
  }
  
  .skill-icon {
    font-size: 3em;
  }
  
  .hobbies-list {
    list-style-type: none;
  }